.DetailsView {
    background: rgb(40, 44, 52);
    width: 100%;
    overflow: scroll;
    height: calc(100vh - 51px);
    .view-area {
        background: #fff;
    }

    &__fileInfo {
        background: #222;
        font-size: 16px;
        padding: 10px;
        color: #fff;
    }
}